*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-logo{
    width: 255px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    align-items: center;
}
#icon{
    font-size: 40px;
    color: brown;
    display: none;
}
@media (max-width:800px) {
    ul{
        display: none;
    }
    #icon{
        display: block;
}
}